<!-- templates/blog/post_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- 01_breadcrumb -->
    {% include 'blog/components/01_breadcrumb.html' %}
    <!-- 01_breadcrumb end -->

    <!-- Blog Area Start -->
    <div class="blog-grid pb-100px pt-100px main-blog-page single-blog-page">
        <div class="container">
            <div class="row">

            	<!-- blog_content -->
                <div class="col-lg-8 col-md-12">
                    <div class="row  mb-n-50">

                    	<!-- 02_post_list -->
                        {% include 'blog/components/02_post_list.html' %}
                        <!-- 02_post_list end -->

                        <!-- 03_pagination -->
                        {% include 'blog/components/03_pagination.html' %}
                       <!-- 03_pagination end -->

                    </div>
                </div>
                <!-- blog_content end -->

                <!-- sidebar -->
                <div class="col-lg-4 col-md-12 mt-md-50px mt-lm-50px" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="blog-sidebar mr-20px">

                        <!-- 04_sidebar_search -->
                        {% include 'blog/components/04_sidebar_search.html' %}
                        <!-- 04_sidebar_search -->

                        <!-- 05_sidebar_post_category -->
                        {% include 'blog/components/05_sidebar_post_category.html' %}
                        <!-- 05_sidebar_post_category -->

                        <!-- 06_sidebar_recent_post -->
                        {% include 'blog/components/06_sidebar_recent_post.html' %}
                        <!-- 06_sidebar_recent_post end -->

                        <!-- 07_sidebar_banner -->
                        {% include 'blog/components/07_sidebar_banner.html' %}
                        <!-- 07_sidebar_banner end -->

                        <!-- 08_sidebar_tags -->
                        {% include 'blog/components/08_sidebar_tags.html' %}
                        <!-- 08_sidebar_tags end -->

                    </div>
                </div>
                <!-- sidebar end -->
            </div>
            <!-- End single blog -->
        </div>
    </div>
    <!-- Blag Area End -->

{% endblock content %}

