<!-- templates/shop/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- 01_hero_slider -->
    {% include 'shop/components/01_hero_slider.html' %}
    <!-- 01_hero_slider end -->

    <!-- 02_banner_1 -->
    {% include 'shop/components/02_banner_1.html' %}
    <!-- 02_banner_1 -->

    <!-- 03_services -->
    {% include 'shop/components/03_services.html' %}
    <!-- 03_services end -->

    <!-- 04_product -->
    {% include 'shop/components/04_product.html' %}
    <!-- 04_product end -->

    <!-- 05_deal_of_the_day -->
    {% include 'shop/components/05_deal_of_the_day.html' %}
    <!-- 05_deal_of_the_day end -->

    <!-- 06_testimonial -->
    {% include 'shop/components/06_testimonial.html' %}
    <!-- 06_testimonial end -->

    <!-- 07_brand -->
    {% include 'shop/components/07_brand.html' %}
    <!-- 07_brand end -->

{% endblock content %}
