{% load static %}

                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Search Here</h3>
                            <div class="search-widget">
                                <form action="#">
                                    <input placeholder="Search Your Article" type="text" />
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>