{% load static %}

                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Post Categories</h3>
                            <div class="category-post">
                                <ul>
                                    <li><a href="#" class="selected">Women Fashion <span>(19)</span> </a></li>
                                    <li><a href="#" class="">Men Fashion <span>(12)</span> </a></li>
                                    <li><a href="#" class="">Baby Fashion <span>(5)</span> </a></li>
                                    <li><a href="#" class="">Fashion Shop <span>(19)</span> </a></li>
                                    <li><a href="#" class="">New Collection <span>(12)</span> </a></li>
                                </ul>
                            </div>
                        </div>