{% load static %}

                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Recent Post</h3>

                            <div class="recent-post-widget">
                                <div class="recent-single-post d-flex">
                                    <div class="thumb-side">
                                        <a href="blog-single.html"><img
                                                src="{% static 'assets/images/blog-image/1.jpg' %}" alt="" /></a>
                                    </div>
                                    <div class="media-side">
                                        <span class="date"> <i class="fa fa-calendar"></i> 24 Aug, 2021</span>
                                        <h5><a href="blog-single.html">Lorem ipsum dolorlo
                                                conse tetur adipi.</a>
                                        </h5>
                                    </div>
                                </div>
                                <div class="recent-single-post d-flex">
                                    <div class="thumb-side">
                                        <a href="blog-single.html"><img
                                                src="{% static 'assets/images/blog-image/2.jpg' %}" alt="" /></a>
                                    </div>
                                    <div class="media-side">
                                        <span class="date"> <i class="fa fa-calendar"></i> 24 Aug, 2021</span>
                                        <h5><a href="blog-single.html">Lorem ipsum dolorlo
                                                conse tetur adipi.</a>
                                        </h5>
                                    </div>
                                </div>
                                <div class="recent-single-post d-flex">
                                    <div class="thumb-side">
                                        <a href="blog-single.html"><img
                                                src="{% static 'assets/images/blog-image/3.jpg' %}" alt="" /></a>
                                    </div>
                                    <div class="media-side">
                                        <span class="date"> <i class="fa fa-calendar"></i> 24 Aug, 2021</span>
                                        <h5><a href="blog-single.html">Lorem ipsum dolorlo
                                                conse tetur adipi.</a>
                                        </h5>
                                    </div>
                                </div>
                                <div class="recent-single-post d-flex">
                                    <div class="thumb-side">
                                        <a href="blog-single.html"><img
                                                src="{% static 'assets/images/blog-image/1.jpg' %}" alt="" /></a>
                                    </div>
                                    <div class="media-side">
                                        <span class="date"> <i class="fa fa-calendar"></i> 24 Aug, 2021</span>
                                        <h5><a href="blog-single.html">Lorem ipsum dolorlo
                                                conse tetur adipi.</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>