{% load static %}

                        <div class="sidebar-widget-image sidebar-widget p-0">
                            <div class="single-banner">
                                <img src="{% static 'assets/images/banner/2.jpg' %}" alt="">
                                <div class="item-disc">
                                    <h2 class="title">#bestsellers</h2>
                                    <a href="shop-left-sidebar.html" class="shop-link">Shop Now</a>
                                </div>
                            </div>
                        </div>