{% load static %}

                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Popular Tag</h3>

                            <div class="sidebar-widget-tag d-inline-block">
                                <ul>
                                    <li><a href="#">New Fashion</a></li>
                                    <li><a href="#">Products</a></li>
                                    <li><a href="#">Fashion Products</a></li>
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Women Fashion</a></li>
                                    <li><a href="#">Dress</a></li>
                                </ul>
                            </div>
                        </div>