<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<!-- 00_head -->
{% include 'shared/00_head.html' %}
<!-- 00_head end -->
<body>

    <!-- 01_top_bar -->
    {% include 'shared/01_top_bar.html' %}
    <!-- 01_top_bar end -->

    <!-- 02_header -->
    {% include 'shared/02_header.html' %}
    <!-- 02_header end -->

    <!-- 03_off_canvas_wishlist -->
    {% include 'shared/03_off_canvas_wishlist.html' %}
    <!-- 03_off_canvas_wishlist end -->

    <!-- 04_off_canvas_cart -->
    {% include 'shared/04_off_canvas_cart.html' %}
    <!-- 04_off_canvas_cart end -->

    <!-- 05_off_canvas_mobile_menu -->
    {% include 'shared/05_off_canvas_mobile_menu.html' %}
    <!-- 05_off_canvas_mobile_menu end -->

    {% block content %}
    {% endblock content %}

    <!-- 06_footer -->
    {% include 'shared/06_footer.html' %}
    <!-- 06_footer end -->

    <!-- 07_modal_pop_up_search -->
    {% include 'shared/07_modal_pop_up_search.html' %}
    <!-- 07_modal_pop_up_search -->

    <!-- 08_modal_login_register -->
    {% include 'shared/08_modal_login_register.html' %}
    <!-- 08_modal_login_register end -->

    <!-- 09_modal_image_zoom -->
    {% include 'shared/09_modal_image_zoom.html' %}
    <!-- 09_modal_image_zoom end -->

    <!-- 10_scripts -->
    {% include 'shared/10_scripts.html' %}
    <!-- 10_scripts end -->
</body>

</html>