<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<!-- 00_head -->
{% include 'shared/00_head.html' %}
<!-- 00_head end -->
<body>

    <!-- 01_top_bar -->
    {% include 'shared/01_top_bar.html' %}
    <!-- 01_top_bar end -->

    <!-- 02_header -->
    {% include 'shared/02_header.html' %}
    <!-- 02_header end -->

    <!-- 03_off_canvas_wishlist -->
    {% include 'shared/03_off_canvas_wishlist.html' %}
    <!-- 03_off_canvas_wishlist end -->

    <!-- 04_off_canvas_cart -->
    {% include 'shared/04_off_canvas_cart.html' %}
    <!-- 04_off_canvas_cart end -->

    <!-- 05_off_canvas_mobile_menu -->
    {% include 'shared/05_off_canvas_mobile_menu.html' %}
    <!-- 05_off_canvas_mobile_menu end -->

    {% block content %}
    {% endblock content %}

    <!-- 12_footer -->
    {% include 'shared/12_footer.html' %}
    <!-- 12_footer end -->

    <!-- 13_modal_pop_up_search -->
    {% include 'shared/13_modal_pop_up_search.html' %}
    <!-- 13_modal_pop_up_search -->

    <!-- 14_modal_login_register -->
    {% include 'shared/14_modal_login_register.html' %}
    <!-- 14_modal_login_register end -->

    <!-- 15_modal_image_zoom -->
    {% include 'shared/15_modal_image_zoom.html' %}
    <!-- 15_modal_image_zoom end -->

    <!-- 16_scripts -->
    {% include 'shared/16_scripts.html' %}
    <!-- 16_scripts end -->
</body>

</html>